# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

remake.egg-info

# C extensions
*.so

build/
dist/
MANIFEST

# Sphinx documentation
docs/_build/

.coverage

# vim
.*.sw?

# PyCharm
.idea

# Examples dirs.
remake/examples/.remake
remake/examples/data/outputs/
remake2/examples/.remake
remake2/examples/data/outputs

